@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

body {
    box-sizing: border-box;
    width: 100%;
    font-family: 'poppins', sans-serif;

}

.logo {
    font-size: 55px;
    font-weight: 600;
    color: rgba(108, 99, 255, 255);

}

li {
    padding: 5px;
}

.nav-link {
    font-size: 15px;
    font-weight: bold;
    border: 2px solid transparent;
}

.nav-link:hover {
    border-bottom: 2px solid rgba(108, 99, 255, 255);
    transition: .1s;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Home */

span {
    color: rgba(108, 99, 255, 255);
}

